.displayMap {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;

    padding: 30px;
    margin: auto;
  }

.leaflet-container {
    height: 600px; /* You can adjust height */
    width: 100%; 
}