/* src/components/About.css */
.about-container {
    margin: auto;
    padding: 30px;   
    width: 90%;
    text-align: center;
}

.about-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.about-container .Content{
    margin-top: 20px;
    padding: 15px;
    background-color: #cb8f67;
  
}